* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DECDAC;
    font-family: cursive;
}

.open-popup {
    cursor: pointer;
}

.popup {
    width: 500px;
    height: 300px;
    background-color: #FEFAF3;
    border-radius: 20px;
    position: fixed;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.436);
    padding: 10px;
    /* display: none; */
    transform: translate(-50%, -50%) scale(0);
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
}

.popup.open {
    /* display: block; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close-icon {
    font-size: 2.1rem;
    font-weight: 700;
    position: absolute;
    right: 10px;
    font-family: serif;
    cursor: pointer;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.overlay-open {
    display: block;
}